<h5 class="page-header" style="color: #2199e8">
      <i class="fas fa-arrow-left" style="padding: 0px 25px; cursor: pointer;" (click)="backButton()"></i> Change Password
</h5>
  
<div class="page-content-create">
    <form [formGroup]="addForm" class="container">
        <div class="container mt-5">
        
          <div class="row">
        
              <div class="col-sm-6">
                <div class="form-group d-flex align-items-center gap-2">
                  <label class="label" style="white-space: nowrap; min-width: 160px;">Current Password<span style="color: red;">*</span></label>
                  <input type="text" class="form-control small-placeholder" formControlName="currentPassword"/>
                </div>
              </div>
          </div>
            <div class="row mt-3">
        
              <div class="col-sm-6">
                <div class="form-group d-flex align-items-center gap-2">
                  <label class="label" style="white-space: nowrap; min-width: 160px;">New Password<span style="color: red;">*</span></label>
                  <input type="text" class="form-control small-placeholder" formControlName="newPassword"/>
                </div>
                  <div *ngIf="addForm.get('newPassword')?.touched && addForm.get('newPassword')?.errors?.['weakPassword']" class="mt-2 text-end" style="color: red;font-size: 12px">
                  Password must include uppercase, lowercase, number, and special character.
                </div>
                  <div *ngIf="addForm.get('newPassword')?.touched && addForm.get('newPassword')?.errors?.['minlength']" class="mt-2 text-end" style="color: red;font-size: 12px">
                    Password must be at least 6 characters.
                  </div>
              </div>
          </div>
            <div class="row mt-3">
        
              <div class="col-sm-6">
                <div class="form-group d-flex align-items-center gap-2">
                  <label class="label" style="white-space: nowrap; min-width: 160px;">Confirm New Password<span style="color: red;">*</span></label>
                  <input type="text" class="form-control small-placeholder" formControlName="confirmNewPassword"/>
                </div>
                <div *ngIf="addForm.get('confirmNewPassword')?.touched && addForm.errors?.['passwordsMismatch']" class="mt-2 text-end" style="color: red;font-size: 12px">
                    new password and confirm new password do not match.
                </div>
              </div>
          </div>
        
          <div class="text-end mt-5">
                <button class="btn btn-success" (click)="onSubmit()">Change Password</button>
          </div>
        </div>
    </form>
</div>

  

