<h5 class="page-header" style="color: #2199e8">
      <i class="fas fa-arrow-left" style="padding: 0px 25px; cursor: pointer;" (click)="backButton()"></i>  Forgot Password
</h5>
  
<div class="page-content-create">
    <form [formGroup]="forgotForm" class="container">
        <div class="container mt-5">
        
          <div class="row">
        
              <div class="col-sm-6">
                <div class="form-group d-flex align-items-center gap-2">
                  <label class="label" style="white-space: nowrap; min-width: 130px;">Enter your Email<span style="color: red;">*</span></label>
                  <input type="text" class="form-control small-placeholder" formControlName="email"/>
                </div>
              </div>
          </div>
        
          <div class="text-end mt-5">
                <button class="btn btn-success" (click)="onSubmit()" [disabled] = "buttonDisabled">Submit</button>
          </div>
        </div>
    </form>
</div>
