<div class="flex gap-6">
  <!-- Left: List -->
  <div class="w-1/2">
    <div class="bg-white shadow rounded-xl p-4">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-semibold text-[#0e3a4c]">Currency List</h2>
        <button
          class="bg-green-600 text-white px-2 py-1 text-sm rounded-lg"
          (click)="createCurrency()"
        >
          Create
        </button>
      </div>

      <div *ngIf="currencyList.length > 0; else noData">
        <div *ngFor="let currency of currencyList"
             class="flex justify-between items-center border-b py-1 last:border-b-0">

          <div>
            <p class="text-sm text-gray-800">{{ currency.currencyName }}</p>
            <span class="text-sm text-gray-500">{{ currency.description }}</span>
          </div>

          <!-- Actions -->
          <div class="space-x-2">
            <i class="fas fa-pen" style="color: #05a743; margin-right: 15px; cursor: pointer;"
               (click)="editCurrency(currency)"></i>
            <i class="fas fa-trash" style="color: red; cursor: pointer;"
               (click)="confirmDeleteCurrency(currency)"></i>
          </div>
        </div>
      </div>

      <ng-template #noData>
        <p class="text-gray-500 text-sm text-center py-6">No currencies found</p>
      </ng-template>
    </div>
  </div>

  <!-- Right: Create/Edit Form -->
  <div class="w-1/2" *ngIf="showForm">
    <div class="bg-white shadow rounded-xl p-4">
      <h2 class="text-lg font-semibold text-[#0e3a4c] mb-4">
        {{ isEditMode ? 'Edit Currency' : 'Create Currency' }}
      </h2>

      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label class="block text-gray-600 text-sm !font-light mb-1">
            Currency Name<span style="color: red;">*</span>
          </label>
          <input type="text" formControlName="currencyName"
                 class="w-full border rounded-lg px-3 py-2" />
        </div>

        <div class="mb-4">
          <label class="block text-gray-600 text-sm !font-light mb-1">
            Description<span style="color: red;">*</span>
          </label>
          <input type="text" formControlName="description"
                 class="w-full border rounded-lg px-3 py-2" />
        </div>

        <div class="flex justify-end space-x-3">
          <button type="submit"
                  class="bg-green-600 text-white px-2 py-1 text-sm rounded-lg">
            {{ isEditMode ? 'Update' : 'Save' }}
          </button>
          <button type="button" class="bg-gray-400 text-white px-2 py-1 text-sm rounded-lg"
                  (click)="cancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
