<h5 class="page-header" style="color: #2199e8;">
      <i class="fas fa-arrow-left" style="padding: 0px 25px; cursor: pointer;" (click)="backButton()"></i>  {{ isEditMode ? 'Edit Cities' : 'New Cities' }}
</h5>
  
<div class="page-content-create">
  <form [formGroup]="addForm" class="container">
      <div class="container mt-5">
      
        <div class="row">
      
          <div class="col-sm-6">
            <div class="form-group d-flex align-items-center gap-2">
              <label class="label" style="white-space: nowrap; min-width: 130px;">City Name <span style="color: red;">*</span></label>
              <input type="text" class="form-control small-placeholder" formControlName="cityName"/>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group d-flex align-items-center gap-2">
              <label class="label" style="white-space: nowrap; min-width: 130px;">Country <span style="color: red;">*</span></label>
              <div class="w-100">
              <p-dropdown 
                [options]="countryList"
                optionLabel="countryName"
                optionValue="id"
                formControlName="countryId"
                placeholder="choose country"
                styleClass="w-100"
                [showClear]="true"
                (onChange)="onCountryChange($event)"
                  appendTo="body"
              ></p-dropdown>
            </div>
            </div>
          </div>
          </div>
          <div class="row mt-5">
            <div class="col-sm-6">
              <div class="form-group d-flex align-items-center gap-2">
                <label class="label" style="white-space: nowrap; min-width: 130px;">State<span style="color: red;">*</span></label>
                <div class="w-100">
                <p-dropdown 
                  [options]="stateUpdatedList"
                  optionLabel="stateName"
                  optionValue="stateId"
                  formControlName="stateId"
                  placeholder="choose state"
                  styleClass="w-100"
                  [showClear]="true"
                  appendTo="body"
                ></p-dropdown>
              </div>
              </div>
            </div>
          </div>
      
        <div class="text-end mt-5">
            <button class="btn btn-primary me-2" (click)="cancel()">Cancel</button>
            <button class="btn btn-success" (click)="onSubmit()">Save</button>
        </div>
      </div>
  </form>
</div>



