<h5 class="page-header" style="color: #2199e8">{{headervalue}}</h5>
<div class="page-content">
  <div style="display: flex;flex-direction: row">
    <div class="top-action-bar">
      <div class="searchtop-container">
          <i class="fa fa-search search-icon"></i>
          <input type="text" [(ngModel)]="searchSupplierName" (input)="filterPurchases()" placeholder="Search...">
          <i *ngIf="searchSupplierName" class="fa fa-times clear-icon"  (click)="clearField('searchSupplierName')"></i>
      </div>
      <div style="margin-left: 5px;"  class="searchtop-container">
          <i class="fa fa-plus icon" style="color: #00a65a;"></i>
          <input type="text" placeholder="New Purchases" readonly style="width: 180px;cursor: pointer;" (click)="createPurchases()"/>
      </div> 
      <div style="margin-left: 2px;"  class="searchtop-container">
          <i class="fa fa-sync icon" style="color: #01a1ff"></i>
          <input type="text"  readonly style="width: 20px;cursor: pointer;"/>
      </div> 
      <div style="margin-left: 2px;"  class="searchtop-container">
          <i class="fa fa-columns icon" style="color: #01a1ff;"></i>
          <input type="text"  readonly style="width: 20px;cursor: pointer;"/>
      </div> 
      <div style="margin-left: 10px;"  class="searchtop-container">
          <i class="fa fa-file-excel icon" style="color: #00a65a;" (click)="downloadExcel()"></i>
          <input type="text"  readonly style="width: 20px;cursor: pointer;" (click)="downloadExcel()"/>
      <div style="margin-left: 2px;" class="searchtop-container">
        <i class="fa fa-file-pdf icon" 
            style="color:#dd4b39; font-size: 20px; cursor: pointer;" 
            (click)="downloadPDF()">
        </i>
        <input type="text" readonly style="width: 20px; cursor: pointer;" (click)="downloadPDF()" />
      </div>
      </div> 
    </div>
  </div>

  <div style=" max-width: 100%;overflow-x: auto;">
      <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Supplier Name</th>
              <th>Date</th>
              <th>Payment Account</th>
              <th>Grand Total</th>
              <th>Discount(%)</th>
              <th>Total Discount</th>
              <th>GST Amount</th>
              <th>Total Tax</th>
              <th>Shipping Cost</th>
              <th>Net Total</th>
              <th>Paid Amount</th>
              <th>Due</th>
              <th>Change</th>
              <th>Details</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of purchasesList | paginate: { itemsPerPage: itemsPerPage, currentPage: page };let i = index">
              <td>{{ (page - 1) * itemsPerPage + i + 1}}</td>
              <td>{{ item.supplierName }}</td>
              <td>{{ item.date | date:'dd-MM-yyyy' }}</td>
              <td>{{ item.paymentAccount }}</td>
              <td>{{ item.grandTotal }}</td>
              <td>{{ item.discount }}</td>
              <td>{{ item.totalDiscount }}</td>
              <td>{{ item.gst }}</td>
              <td>{{ item.totalTax }}</td>
              <td>{{ item.shippingCost }}</td>
              <td>{{ item.netTotal }}</td>
              <td>{{ item.paidAmount }}</td>
              <td>{{ item.due }}</td>
              <td>{{ item.change }}</td>
              <td>{{ item.details }}</td>
              <td>
                <i class="fas fa-pen" 
                  style="color: #05a743;cursor: pointer;" 
                  (click)="editPurchases(item)">
                </i>
                <i class="fas fa-trash"
                  style="color: red; cursor: pointer;padding-left: 20px;" 
                  (click)="confirmdeletePurchases(item)">
                </i>
              </td>
            </tr>
          </tbody>
      </table>  
  </div>
  
  <div style="margin-top: 10px;">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>  
  
  
  
