<div class="page-content-create">
    <form [formGroup]="addForm" class="container d-flex flex-column" style="min-height: 100%;">
       <div class="flex-grow-1">
          <div class="container mt-5">

          <!-- Add Attendees Button -->
            <div class="row mt-5">
              <div class="col-12 d-flex justify-content-between align-items-center mb-2">
                <h6 class="label">Agenda Decisions</h6>
                <button pButton type="button" icon="pi pi-plus" label="Add" 
                style="background-color: #007bff; color: white;border: none" (click)="showAgendaDecisionDialog()"></button>
              </div>

              <div class="col-12">
                <p-table [value]="agendaDecision.controls" [formGroup]="addForm" formArrayName="agendaDecision" 
                [scrollable]="true" scrollHeight="400px">
                  <ng-template pTemplate="header">
                    <tr>
                      <!-- <th class="nowrap-column">Id</th> -->
                      <th class="nowrap-column">Description</th>
                      <th class="nowrap-column">Due Date</th>
                      <th class="nowrap-column">Assigned To</th>
                      <th class="nowrap-column">Decision Number</th>
                      <th class="nowrap-column">Related Agenda Item Title</th>
                      <th class="nowrap-column">Resolution Status</th>
                      <th class="nowrap-column">Action</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row let-i="rowIndex">
                    <tr [formGroupName]="i">
                      <!-- <td class="nowrap-column">{{ row.get('id')?.value }}</td> -->
                      <td class="nowrap-column">{{ row.get('description')?.value }}</td>
                      <td class="nowrap-column">{{ row.get('dueDate')?.value | date: 'dd-MM-yyyy' }}</td>
                      <td class="nowrap-column">{{ row.get('assignedTo')?.value }}</td>
                      <td class="nowrap-column">{{ row.get('decisionNumber')?.value }}</td>
                      <td class="nowrap-column">{{ row.get('relatedAgendaItemTitle')?.value }}</td>
                      <td class="nowrap-column">{{ row.get('resolutionStatus')?.value }}</td>                   
                      <td class="nowrap-column">
                        <button pButton type="button" icon="pi pi-pencil" class="p-button-edit" (click)="editAgendaDecision(i)"></button>
                        <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="removeAgendaDecision(i)"></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
       </div>
       <div class="text-end mt-5">
           <button class="btn btn-primary me-2" (click)="cancel()">Cancel</button>
           <button class="btn btn-success" (click)="onSubmit()">Save</button>
       </div>
    </form>
</div>

<!-- Dialog for Adding/Editing Attendees -->
<p-dialog [(visible)]="displayDialog" [modal]="true" [style]="{width: '60vw'}" 
        [contentStyle]="{ 'background-color': '#f9f9f9', 'padding': '1.5rem' }" 
        [styleClass]="'custom-dialog-shadow'" [closable]="true" header="{{ dialogMode === 'add' ? 'Add' : 'Edit' }} Agenda Decisions">
    <form [formGroup]="agendaDecisionForm">
      <div class="row mb-3">
        <div class="col-sm-12 d-flex align-items-center mb-2">
          <div style = "width:150px">
            <label for="description">Description<span style="color: red;">*</span></label>
          </div>
          <div class = "flex-grow-1">
            <input type="text" class="form-control" id="description" formControlName="description"/>
          </div>    
        </div>
        <div class="col-sm-12 d-flex align-items-center mb-2">
          <div style = "width:150px">
            <label for="dueDate">Due Date</label>
          </div>
          <div class = "flex-grow-1">
             <p-calendar
                  formControlName="dueDate"
                  dateFormat="dd-mm-yy"
                  [showIcon]="true"
                  placeholder="Choose Date"
                  styleClass="w-100"
                  appendTo="body"
                ></p-calendar>
          </div>
        </div>
        <div class="col-sm-12 d-flex align-items-center mb-2">
          <div style = "width:150px">
            <label for="assignedTo">Assigned To</label>
          </div>
          <div class = "flex-grow-1">
            <input type="text" class="form-control" id="assignedTo" formControlName="assignedTo"/>
          </div> 
        </div>
        <div class="col-sm-12 d-flex align-items-center mb-2">
          <div style = "width:150px">
            <label for="decisionNumber">Decision Number</label>
          </div>
          <div class = "flex-grow-1">
            <input type="text" class="form-control" id="decisionNumber" formControlName="decisionNumber"/>
          </div>
        </div>
      </div>
      <div class="col-sm-12 d-flex align-items-center mb-2">
        <div style = "width:150px">
          <label for="relatedAgendaItemTitle">Related Agenda Item Title</label>
        </div>
        <div class = "flex-grow-1">
          <input type="text" class="form-control" id="relatedAgendaItemTitle" formControlName="relatedAgendaItemTitle"/>
        </div>
      </div>
      <div class="col-sm-12 d-flex align-items-center mb-2">
        <div style = "width:150px">
          <label for="resolutionStatus">Resolution Status<span style="color: red;">*</span></label>
        </div>
        <div class = "flex-grow-1">
          <input type="text" class="form-control" id="resolutionStatus" formControlName="resolutionStatus"/>
        </div>
      </div>
    </form>
    <p-footer>
      <button pButton label="Save" icon="pi pi-check" class="p-dialog-button-save" (click)="saveAgendaDecision()"></button>
      <button pButton label="Cancel" icon="pi pi-times" class="p-button-secondary p-dialog-button-cancel" style="margin-left: 5px;" (click)="hideAgendaDecisionDialog()"></button>
    </p-footer>
</p-dialog>




