<h5 class="page-header" style="color: #2199e8">{{headervalue}}</h5>
<div class="page-content">
    <div style="display: flex;flex-direction: row">
      <div class="top-action-bar">
        <div class="searchtop-container">
            <i class="fa fa-search search-icon"></i>
            <input type="text" [(ngModel)]="chartOfAccountName" (input)="filterChartOfAccount()" placeholder="Search...">
            <i *ngIf="chartOfAccountName" class="fa fa-times clear-icon"  (click)="clearField('chartOfAccountName')"></i>
        </div>
        <div style="margin-left: 5px;"  class="searchtop-container">
            <i class="fa fa-plus icon" style="color: #00a65a;"></i>
            <input type="text" placeholder="New Chart Of Account" readonly style="width: 200px;cursor: pointer;" (click)="createChartOfAccount()"/>
        </div> 
        <div style="margin-left: 2px;"  class="searchtop-container">
            <i class="fa fa-sync icon" style="color: #01a1ff"></i>
            <input type="text"  readonly style="width: 20px;cursor: pointer;"/>
        </div> 
        <div style="margin-left: 2px;"  class="searchtop-container">
            <i class="fa fa-columns icon" style="color: #01a1ff;"></i>
            <input type="text"  readonly style="width: 20px;cursor: pointer;"/>
        </div> 
      </div>
    </div>
  
    <div style=" max-width: 100%;overflow-x: auto;">
         <p-treeTable [value]="treeData" [tableStyle]="{'min-width':'50rem'}">
            <ng-template pTemplate="header">
              <tr>
                <th>Head Code</th>
                <th>Head Name</th>
                <th>Opening Balance</th>
                <th>Balance</th>
                <th>Action</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
              <tr>
                <td>
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  {{ rowData.headCode }}
                </td>
                <td>{{ rowData.headName }}</td>
                <td>{{ rowData.openingBalance }}</td>
                <td>{{ rowData.balance }}</td>
                <td style="padding-left: 20px;">
                  <i class="fas fa-pen" 
                    style="color: #05a743; margin-right: 15px; cursor: pointer;" 
                    (click)="editChartOfAccount(rowData)">
                  </i>
                  <i class="fas fa-trash" 
                    style="color: red; cursor: pointer;" 
                    (click)="confirmdeleteChartOfAccount(rowData)">
                  </i>
                </td>
              </tr>
            </ng-template>
        </p-treeTable>
 
    </div>
    
    <div style="margin-top: 10px;">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>

  
  
  
  







