<h5 class="page-header" style="color: #2199e8">{{headervalue}}</h5>
<div class="page-content">
    <div style="display: flex;flex-direction: row">
      <div class="top-action-bar">
        <div class="searchtop-container">
            <i class="fa fa-search search-icon"></i>
            <input type="text" [(ngModel)]="journalVoucherName" (input)="filterJournalVoucher()" placeholder="Search...">
            <i *ngIf="journalVoucherName" class="fa fa-times clear-icon"  (click)="clearField('journalVoucherName')"></i>
        </div>
        <div style="margin-left: 5px;"  class="searchtop-container">
            <i class="fa fa-plus icon" style="color: #00a65a;"></i>
            <input type="text" placeholder="New Journal Voucher" readonly style="width: 200px;cursor: pointer;" (click)="createJournalVoucher()"/>
        </div> 
        <div style="margin-left: 2px;"  class="searchtop-container">
            <i class="fa fa-sync icon" style="color: #01a1ff"></i>
            <input type="text"  readonly style="width: 20px;cursor: pointer;"/>
        </div> 
        <div style="margin-left: 2px;"  class="searchtop-container">
            <i class="fa fa-columns icon" style="color: #01a1ff;"></i>
            <input type="text"  readonly style="width: 20px;cursor: pointer;"/>
        </div> 
      </div>
    </div>
  
    <div style=" max-width: 100%;overflow-x: auto;">
          <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>V No</th>
                  <th>V Type</th>
                  <th>Date</th>
                  <th>Coa Head Name</th>
                  <th>Coa</th>
                  <th>Remark</th>
                  <th>Debit</th>
                  <th>Credit</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of journalVoucherList | paginate: { itemsPerPage: itemsPerPage, currentPage: page };let i = index">
                  <td>{{ (page - 1) * itemsPerPage + i + 1}}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.name }}</td>
                  <td style="padding-left: 20px;">
                    <i class="fas fa-pen" 
                      style="color: #05a743; margin-right: 15px; cursor: pointer;" 
                      (click)="editJournalVoucher(item)">
                    </i>
                    <i class="fas fa-trash" 
                      style="color: red; cursor: pointer;" 
                      (click)="confirmdeleteJournalVoucher(item)">
                    </i>
                  </td>
                </tr>
              </tbody>
          </table>  
    </div>
    
    <div style="margin-top: 10px;">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>

  
  
  
  







